/*stylesheet*/

body {
	margin:20px;
	background: olive;
	color: navy;
	font-family:'Roboto Mono', monospace;
	font-weight: 200;
}

h1, h2, h3, h4 {
		front-weight:200;
}

h1, h2 {

	font-weight: 200;
}

#wrapper {
	margin: 2em auto;
	max-width: 1200px;
	padding: 0 2em;
}

#main {
	background: gray;
	margin: 2em;
	padding: 2em;
}
#sidebar {
	background: yellow;
}

#content {
	background: red;
}

@media (max-width: 699px)	{

	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		padding: 0em;
	}
}